<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Results - WhatsApp Chat Analyzer</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="bg-success text-white text-center py-3">
        <h1>WhatsApp Chat Analyzer</h1>
    </header>
    <main class="container my-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <section class="mb-5">
                    <h2>Analysis of: {{ uploaded_filename }}</h2>
                    <p>This section will be expanded to display various insights from the uploaded chat.</p>
                    <!-- Further insights and visualizations will go here -->
                    <!-- Displaying the results as a table -->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sender</th>
                                <th>Message</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in results %}
                                <tr>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[0] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </main>
    <footer class="text-center py-3 bg-success text-white">
        <p>&copy; 2023 WhatsApp Chat Analyzer. All rights reserved.</p>
    </footer>

    <!-- Optional Bootstrap JS and its dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
